<div class="container">
  <h1><%= @list.name %></h1>
  <ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.movie.title %>
    <%= link_to "🗑", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Add movie", new_list_bookmark_path(@list) %>
</div>
